@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #140f0e;
  height: 70px;
  width: 100%;
}

.img-logo {
  background-color: #840A44;
  border-radius: 0px 10px 0px 10px;
  padding: 5px;
  height: 60px;
  width: 130px;
  text-align: center;
}

.img-logo h1 {
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
}

#menu {
  display: flex;
  list-style: none;
}

#menu a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 8px;
}
#menu a:hover {
  display: block;
  border-bottom: 2px solid #840A44;
  transform: scale(1.1);
  border-radius: 4px;
  padding: 4px;
}

.pesquisa {
  display: flex;
  align-items: center;
}

#txtpesquisa {
  background-color: #E0EEEE;
  border: 2px solid #840A44;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 200px;
  height: 32px;
}

#btnpesquisa {
  border: none;
  height: 32px;
  border-radius: 0 7px 7px 0;
  width: 50px;
  background-color: #840A44;
  color: #FFFFFF;
  font-size: 18px;
  margin-right: 18px;
}

#whatsapp {
  background: transparent;
  color: #17951e;
  border: none;
  font-size: 40px;
  margin-right: 18px;
}
#whatsapp:hover {
  transform: scale(1.1);
}

#btn-mobile {
  display: none;
}

@media (max-width: 1198px) {
  #logo {
    font-size: 20px;
  }
  #menu a {
    font-size: 13px;
  }
  .pesquisa {
    margin-right: -45px;
  }
  #txtpesquisa {
    width: 130px;
  }
  #btnpesquisa {
    width: 30px;
  }
}

@media (max-width: 984px) {
  #menu {
    display: block;
    position: absolute;
    width: 50%;
    top: 70px;
    right: 0px;
    background-color: #840A44;
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }
  #hamburger {
    display: block;
    border-top: 3px solid #840A44;
    width: 30px;
    margin-right: -80px;
  }
  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: #840A44;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  #txtpesquisa {
    width: 200px;
  }
  #btnpesquisa {
    width: 50px;
  }
  #whatsapp {
    margin-right: 50px;
  }
}

@media (max-width: 528px) {
  .pesquisa {
    display: none;
  }
  .img-logo {
    width: 120px;
    padding: 5px;
    margin-left: 20px;
    height: 55px;
  }
  #menu {
    width: 100%;
  }
}

/*SLIDER*/

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 100vh;
}

.carousel-indicators .active {
  background-color: #ffca3a;
}

#sobre {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

#sobre h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #840A44;
}

#sobre p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}